certifi==2024.7.4 ; python_full_version >= "3.8.2" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_full_version >= "3.8.2" and python_version < "4.0"
idna==3.7 ; python_full_version >= "3.8.2" and python_version < "4.0"
importlib-metadata==8.0.0 ; python_full_version >= "3.8.2" and python_version < "4.0"
paho-mqtt==2.1.0 ; python_full_version >= "3.8.2" and python_version < "4.0"
prettytable==3.10.2 ; python_full_version >= "3.8.2" and python_version < "4.0"
pymodbus==3.5.4 ; python_full_version >= "3.8.2" and python_version < "4.0"
requests==2.32.3 ; python_full_version >= "3.8.2" and python_version < "4.0"
urllib3==2.2.2 ; python_full_version >= "3.8.2" and python_version < "4.0"
wcwidth==0.2.13 ; python_full_version >= "3.8.2" and python_version < "4.0"
zipp==3.19.2 ; python_full_version >= "3.8.2" and python_version < "4.0"
